<!DOCTYPE html>
<html>
  <head>
    <title>Bumpify</title>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type='text/javascript'>
      window.headerLogo = "<%= image_url('header_logo.png') %>"
    </script>
    <script type='text/javascript'>
      window.sessionLogo = "<%= image_url('session_logo.png') %>"
    </script>
    <script type='text/javascript'>
      window.currentAlbum = "<%= image_url('lemonade.png') %>"
    </script>
    <script type='text/javascript'>
      window.homecoming = "<%= image_url('homecoming.png') %>"
    </script>
    <script type='text/javascript'>
      window.kendrick = "<%= image_url('kendrick.jpg') %>"
    </script>
    <script type='text/javascript'>
      window.damn = "<%= image_url('damn.png') %>"
    </script>
    <script type='text/javascript'>
      window.ctrl = "<%= image_url('ctrl.png') %>"
    </script>
    <script type='text/javascript'>
      window.blonde = "<%= image_url('blonde.jpg') %>"
    </script>
    <script type='text/javascript'>
      window.overit = "<%= image_url('overit.jpg') %>"
    </script>
    <script type='text/javascript'>
      window.shakira = "<%= image_url('shakira.png') %>"
    </script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
